<app-navbar></app-navbar>



<div id="container" *ngFor="let especialista of especialista$.data">
    <h1>&bull;Especialista: {{especialista.nombres}} {{especialista.apellidos}}&bull;</h1>
    <div class="underline">
    </div>
    <form >
        <fieldset>
            <legend>Datos Personales</legend>
            <div class="row">
                <div class="column" >
                    <label >Nombres:</label> {{especialista.nombres}} 
                 
                </div>
                <div class="column" >
                  <label >Apellidos:</label> {{especialista.apellidos}}
                 
                </div>
              </div>
                
            
            <div class="row">
                <div class="column" >
                      <label >Rut:</label> {{especialista.rut}}
                      
                  </div>
                <div class="column" >
                      <label >Fecha de registro:</label> {{especialista.fecharegistro}} {{especialista.horaregistro}} 
                     
                      
                     </div>
                </div>
                
            
            
          </fieldset>
       
          <fieldset>
            <legend>Datos Médicos</legend>
            <div class="row">
                <div class="column" >
                    <label >Especialidad:</label> {{especialista.especialidad}}
                    
                </div>
                <div class="column" >
                    <label >Formación Académica:</label> {{especialista.formacionacademica}}
                </div>
              </div>

              <div class="row">
                <div class="column" >
                    <label >Experiencia Laboral:</label> {{especialista.experiencia}}
                    
                </div>
                <div class="column" >
                    <label>N° horas médicas realizadas:</label> {{especialista.cantcitasrealizadas}}
                </div>
              </div>
              
            </fieldset>  

        <fieldset>
            <legend>Valoración</legend>
            <div class="row2">
                <div class="column" >
                    <label >Valoración Promedio:</label> {{especialista.valoracionpromedio}}
                    
                </div>
                
              </div>
              
            </fieldset>  
              
           
             
           
    </form><!-- // End form -->
  </div><!-- // End #container -->
>