<app-navbar-medico></app-navbar-medico>

<div id="container" >
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            Semana Anterior
          </div>
          <div
            class="btn btn-success"
            mwlCalendarToday
            [(viewDate)]="viewDate"
          >
            Hoy
          </div>
          <div
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            Semana Siguiente
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es'}}</h3>
      </div>
      
    </div>
    <br />
    <div [ngSwitch]="view" >
      <mwl-calendar-week-view 
        *ngSwitchCase="CalendarView.Week"
        locale="es"
        [weekStartsOn]="1"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [dayStartHour]="10"
        [dayEndHour]="13"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="agendarHora($event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-week-view>
    
    </div>
   
  
  </div>