<nav class="main-menu">
            <ul>
				
					
                <li >
                    <a routerLink="/perfilPaciente">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span class="nav-text">
                            Perfil
                        </span>
                    </a>
                  
                </li>
                <li >
                    <a routerLink="/especialistas">
                        <i class="fa fa-user-md" aria-hidden="true"></i>
                        <span class="nav-text">
                            Especialistas
                        </span>
                    </a>
                    
                </li>
                
          
            </ul>	
            <ul class="logout">
                <li>
                   <a href="javascript:void(0);" (click)="logout()">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Cerrar Sesión
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
  