<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="topnav" id="myTopnav">
	<a routerLink="/home" class="logo"><img  width="40px" height="" src="./assets/images/logito.png"></a>
	
	<a ><span>Item 1</span></a>
		<a ><span>Item 2</span></a>
		<a ><span>Item 3</span></a>
		<a ><span>Item 4</span></a>
		<a ><span>Item 5</span></a>
		<a ><span>Item 6</span></a>
		
			
		<a class="active" routerLink="" (click)="logout()" >Cerrar Sesión</a>	
		
  </div>
  

