<nav class="main-menu">
    <ul>
        <li>
            <a>
                <i class="fa fa-search" aria-hidden="true"></i>
                <span class="nav-text">
                    <input type="text" (keydown.enter)="save($event)">
                </span>
            </a>
        </li>
            
        <li >
            <a routerLink="/perfilMedico">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="nav-text">
                    Perfil médico
                </span>
            </a>
          
        </li>
        <li >
            <a [routerLink]="['/chat',rut]">
                <i class="fa fa-comments" aria-hidden="true"></i>
                <span class="nav-text">
                   Chat
                </span>
            </a>
          
        </li>
        
        
  
    </ul>	
    <ul class="logout">
        <li>
           <a href="javascript:void(0);" (click)="logout()">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Cerrar Sesión
                </span>
            </a>
        </li>  
    </ul>
</nav>
