

<div class="sidebar">

  <div class="sidebar-header">
    <div class="user-pic">
      <img class="img-responsive img-rounded"
        src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
        alt="User picture">
    </div>
    <div class="user-info">
      <span class="user-name">{{especialista$.data[0].nombres}}<br />
        <strong>{{especialista$.data[0].apellidos}}</strong>
      </span>
      <span class="user-role">Especialista </span>


    </div>
    <!--<div *ngIf="token.data.token == null"><button class="button" (click)="sendNotif()">Activar notificaciones</button>
    </div>-->
  </div>

  <a class="active" routerLink="/perfilMedico"><i class="fa fa-fw fa-user"></i> Perfil</a>

  <a routerLink="/agendaMedico"><i class="fa fa-fw fa-address-book-o" aria-hidden="true"></i> Agenda</a>

  
  <a [routerLink]="['/chat',rut]"><i class="fa fa-fw fa-comments" aria-hidden="true"></i> Chat</a>
  <a><i class="fa fa-fw fa-bell" aria-hidden="true"></i>Notificaciones<span class="badge" *ngIf="(message)">{{sizeN()}}</span>
    <div class="btn-group mr-3">
      <div class="btn-group " ngbDropdown role="group" placement="right">
        <button class="btn btn-outline dropdown-toggle-split" ngbDropdownToggle></button>
        <div *ngIf="sizeN()>0" class="dropdown-menu custom" ngbDropdownMenu >
          <div *ngIf="( message | async )"><b>{{message.value.notification.body}}{{pushMsg(message.value.notification.body)}}</b></div>
            <div *ngFor="let notificacion of notificaciones;">
              <b>{{notificacion}}</b>
            </div>
        </div>
      </div>
    </div>
  </a>
  <div class="sidebar-footer">
    <a href="javascript:void(0);" (click)="logout()"><i class="fa fa-fw fa-power-off "></i> Cerrar Sesión </a>
  </div>
  

</div>