<app-navbar-medico></app-navbar-medico>
<div id="container" *ngFor="let paciente of paciente$.data">
    <h1>&bull;{{paciente.nombres}} {{paciente.apellidos}}&bull;</h1>
    <div class="underline"></div>
    
    <div class="tabla" > 
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
        <fieldset>
          <legend>Datos Personales</legend>
            <div class="row">
                <div class="column" >
                  
                    <label for="name">Nombres:</label>
                    <input  type="text" formControlName="nombre">
                    
                                  
                </div>

                
                  <div class="column" >
                    <label for="apellidos">Apellidos:</label>
                    <input  type="text" id="apellidos" formControlName="apellidos">
                  </div>
                
            </div>
          </fieldset>
          <fieldset>
              <legend>Contacto</legend>
              <div class="row">
                <div class="column">
                  <label for="contacto">Contacto:</label>
                  <input  type="text" id="contacto" formControlName="contacto" >
                </div>

                <div class="column">
                    <label for="correo">Correo:</label>
                    <input  type="email" id="correo" formControlName="correo" >
                </div>

              </div>
          </fieldset>
              
              
            


            <button class="button" [routerLink]="['/editar_datos_paciente']" type="submit">Guardar cambios</button>
          </form>
          <button type="button" class="button" [routerLink]="['/perfilPaciente']">Volver</button> 
          
             
           
        </div ><!-- // End form -->
</div><!-- // End #container -->