<app-navbar-paciente *ngIf = "soy_paciente"></app-navbar-paciente>
<app-navbar-medico *ngIf = "soy_medico"></app-navbar-medico>

<div id="container">
    <aside>
        <ul>
        <section *ngIf = "soy_medico">
            <a *ngFor = "let i of contactos_pacientes.data; let j = index" (click)="setDestinatario(i.rut,j)">
                <li>
                    <div style="size:100%;" >
                        <h2>{{i.nombres}}</h2>
                        <h2>{{i.apellidos}}</h2>
                        <h3>{{i.rut}}</h3>
                        <h3>
                            <span class="status green"></span>
                            Conectado
                        </h3>
                    </div>
                </li>
            </a>
        </section>
        <section *ngIf = "soy_paciente">
            <a *ngFor = "let i of contactos_medicos.data;let j = index" (click)="setDestinatario(i.rut,j)">
                <li >
                    <div style="size:100%;" >
                        <h2>{{i.nombres}}</h2>
                        <h2>{{i.apellidos}}</h2>
                        <h3>{{i.rut}}</h3>
                        <h3>
                            <span class="status green"></span>
                            Conectado
                        </h3>
                    </div>
                </li>
            </a>
            
        </section>

        </ul>
    </aside>

    <main>
        <header>
           
            <div>
                <h2>{{hablando_con}}</h2>
            </div>
        </header>

        <div>
            
        </div>
        <ul id="chat" #scrollMe>
            <section *ngFor = "let a of allmensajes" >
                <ng-template [ngIf] = "a.de_usuario === rut_url " [ngIfElse] = "TEST">
                    <li class="me"  >
                        <div class="message">
                            {{a.mensaje}}
                        </div>
                    </li>
                </ng-template>
                <ng-template #TEST>
                    <li class="you">
                        <div class="message">
                            {{a.mensaje}}
                        </div>
                    </li>
                </ng-template>
            </section>

          

        </ul>
        <footer>
            <div class="container">
                <div class="row">
                    <input type="text" class="form-control" (change) = "misMensajes()" [(ngModel)]="userChat.text" style="width: 100%;">
                    <div class="col"><a>Enviar</a></div>
                </div>
            </div>

        </footer>
    </main>
</div>
