<app-navbar-paciente></app-navbar-paciente>
<div id="container" >
    <div class="pricingdiv">
        <div *ngFor="let especialista of especialista$.data;">  <!-- por cada paciente del resultado de la consulta-->

            <div class="card">
                <div class="banner">
                  <img class="round"src="{{especialista.imagen}}" alt="user" />
                </div>
                <div class="menu">
                  <span></span><span></span><span></span>
                </div>
                <br />
                <h2 class="name">{{especialista.apellidos}}<br />{{especialista.nombres}}</h2>
                <div class="actions">
                    <div class="follow-info">
                        <h2 class="title" >Rut: {{especialista.rut_medico}}</h2>
                    </div>
                
                  <li>
                    <button class="button" (click)="getDiagnostico(modalDatos, especialista.rut_medico)">Ver detalles</button> 
                  </li>     
                </div> 

                
            </div>
        </div>
    </div>
        
        
       
        <ng-template #modalDatos let-modal>
            <div class="modal-header">
            <h4 class="modal-title">Diagnosticos y tratamientos</h4>
            </div>
            
            
            <table>
                <thead>
                  <tr>
                    <th scope="col">Diagnóstico</th>
                    <th scope="col">Tratamiento</th>
                    <th scope="col">Fecha</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
                    
                  <tr *ngFor="let e of diagnosticos$.data">
                    <td data-label="Diagnóstico:">
                      <div class="box">
                        {{e.diagnostico}}
                      </div></td>
                    <td data-label="Tratamiento:">
                      <div class="box">
                          {{e.tratamiento}}
                        </div></td>
                    
                    <td data-label="Fecha:">{{e.fecha}}</td>
                  </tr>
                </tbody>
              </table>
            
            
            
        
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" form="miForm" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
                </div>
            
            </div>
        </ng-template>
        
</div>
