
<div class="cont" [formGroup]="LoginForm">
  <div class="form sign-in">
    <h2>Bienvenido Paciente</h2>
    <label>
      <span>Rut</span>
      <input type="text" formControlName="rut"/>
    </label>
    <label>
      <span>Contraseña</span>
      <input type="text" formControlName="pass" />
    </label>
    <button type="button" class="submit" (click)="onSubmitPaciente()">Ingresar</button>
    <button type="button" class="submit" routerLink='/registro'>Registrar</button>
    
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>¿Eres un especialista?</h2>
        <p>Por favor, inicie sesión como especialista aquí</p>
      </div>
      <div class="img__text m--in">
        <h2>¿Eres un paciente?</h2>
        <p>Si lo eres, debes iniciar sesión en este lugar</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Especialista</span>
        <span class="m--in">Paciente</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>Bienvenido Especialista</h2>
      <label>
        <span>Rut</span>
        <input type="text" formControlName="rut"/>
      </label>
      <label>
        <span>Contraseña</span>
        <input type="text" formControlName="pass" />
      </label>
      <button type="button" class="submit" (click)="onSubmitEspecialista()">Ingresar</button>
      <button type="button" class="submit" routerLink='/registro'>Registrar</button>
      
    </div>
  </div>
</div>

