<app-navbar></app-navbar>


<div class="pricingdiv">
    <div *ngFor="let especialista of especialistas$.data">  <!-- por cada paciente del resultado de la consulta-->
    <ul class="theplan">
        
        <li class="title"><img  width="100px" height=" " src="./assets/images/logito.png"><br/><b>{{especialista.nombres}}</b> <br />{{especialista.apellidos}} </li>
        
        <li class="title2">
            Rut: {{especialista.rut}} <br/>
            {{especialista.especialidad}} <br/>
            <!--Formación: {{especialista.formacionacademica}} <br/>
            Experiencia: {{especialista.experiencia}} <br/>
            N° citas médicas: {{especialista.cantcitasrealizadas}} <br/>
            Disponibilidad: {{especialista.horariodisponible}} <br/>
            Contacto: {{especialista.contacto}} <br/>-->
            </li>
            <li >
                <button class="button" [routerLink]="['/verEspecialista', especialista.rut]">Ver detalle</button> 
                <button class="button">Solicitar</button> 
            </li>
    </ul>
</div>
   
</div>