<app-navbar-paciente></app-navbar-paciente>

<div id="container" >
    <div class="pricingdiv">
        <div *ngFor="let especialista of especialistas$.data">  <!-- por cada paciente del resultado de la consulta-->

            <div class="card">
                <div class="banner">
                  <img class="round"src="{{especialista.imagen}}" alt="user" />
                </div>
                <div class="menu">
                  <span></span><span></span><span></span>
                </div>
                <br />
                <h2 class="name">{{especialista.apellidos}}<br />{{especialista.nombres}}</h2>
                <div class="actions">
                    <div class="follow-info">
                        <h2 class="title" >Rut: {{especialista.rut}}<br/> <br/>{{especialista.especialidad}}</h2>
                    </div>
                    <br/>
                    <li >
                        <button class="button" [routerLink]="['/verEspecialista', especialista.rut]">Ver detalle</button> 
                        <button class="button" [routerLink]="['/horarios', especialista.rut]">Ver Horarios</button> 
                    </li>

                </div>
            </div>
        </div>
        
    </div>
</div>
