#supfilter{
  display: flex;
}

#defaultIndeterminate2{
  margin-left: 20px;
}
#checkbutt{
  display: block;
}

#contenedorsuperior{
  background-color: #8ebbce;
  padding-top: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  border-style: solid;
  border-color: #30506e;
  border-width: 5px;
}

label{
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  padding-left: 15px;
  padding-bottom: 0px;
  padding-top: 10px;
}

#container {
  max-width: 80%;
  margin-top: 30px;
  margin-left: 290px;
  position: relative;
}

.pricingdiv{
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;  
  margin-top: 20px;
}

.pricingdiv ul.theplan{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: black;
  width: 320px; /* width of each table */
  
  margin-right: 25px; /* spacing between tables */
  margin-bottom: 2em;
  border: 1px solid gray;
  transition: all .5s;
  background-image: linear-gradient(90deg,#55c9d8b9 0%, #27727cb9 100%);
  	background-image: -moz-linear-gradient(top, #55c9d8b9 0%, #27727cb9 100%);
  	background-image: -webkit-linear-gradient(top, #55c9d8b9 0%, #27727cb9 100%);
  	background-image: linear-gradient(to bottom, #55c9d8b9 0%, #27727cb9 100%);
}

.pricingdiv ul.theplan:hover{ /* when mouse hover over pricing table */
  transform: scale(1.05);
  transition: all .5s;
  z-index: 100;
  box-shadow: 0 0 10px gray;
}

.pricingdiv ul.theplan .center{
  margin: 0 auto;
  text-align: center;
}

.pricingdiv ul.theplan img{
  max-width: 80%;
  height: auto;
  margin-left: 8%;
  
}

.pricingdiv ul.theplan li{
  padding: 15px 10px;
  position: relative;
  border-bottom: 1px solid #eee;
  background: rgb(182, 194, 247);
}

.pricingdiv ul.theplan li.title{
  font-weight: bold;
  text-align: center;
  padding: 20px 10px;
  background-image: linear-gradient(90deg,#19d8fab9 0%, #1499b1b9 100%);
  	background-image: -moz-linear-gradient(top, #19d8fab9 0%, #1499b1b9 100%);
  	background-image: -webkit-linear-gradient(top, #19d8fab9 0%, #1499b1b9 100%);
  	background-image: linear-gradient(to bottom, #19d8fab9 0%, #1499b1b9 100%);
  color: white;
  box-shadow: 0 -10px 5px rgba(0,0,0,.1) inset;
  
}
.pricingdiv ul.theplan li.title2{
  font-weight: bold;
  text-align: center;
  padding: 20px 10px;
  background-image: linear-gradient(90deg,#1b47d6b9 0%, #163aafb9 100%);
  background-image: -moz-linear-gradient(top, #1b47d6b9 0%, #163aafb9 100%);
  background-image: -webkit-linear-gradient(top, #1b47d6b9 0%, #163aafb9 100%);
  background-image: linear-gradient(to bottom, #1b47d6b9 0%, #163aafb9 100%);

  color: white;
  box-shadow: 0 -10px 5px rgba(0,0,0,.1) inset;
  
}

.pricingdiv ul.theplan:nth-of-type(2) li.title{
  background: rgb(196, 107, 48);
  color: white;
}
    
.pricingdiv ul.theplan:nth-of-type(3) li.title{
  background: rgb(210, 117, 251);
  color: white;
}


.pricingdiv ul.theplan li.title b{
  font-size: 200%;
}
.pricingdiv ul.theplan li.pie{
 
  background-image: linear-gradient(90deg,#2251b8b9 0%, #1c4191b9 100%);
  	background-image: -moz-linear-gradient(top, #2251b8b9 0%, #1c4191b9 100%);
  	background-image: -webkit-linear-gradient(top, #2251b8b9 0%, #1c4191b9 100%);
  	background-image: linear-gradient(to bottom, #2251b8b9 0%, #1c4191b9 100%);
  
}

.pricingdiv ul.theplan:last-of-type{ /* remove right margin in very last table */
  margin-right: 0;
}

/*very last LI within each pricing UL */
.pricingdiv ul.theplan li:last-of-type{
  text-align: center;
  margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
}  

.pricingdiv a.pricebutton{
  background: rgb(228, 48, 48);
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
}








.button {
  background-color: #9c83aa;/* Green */
  border: none;
  color: white;
  padding: 0.75em 1.5em;
  margin-left: 10%;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  display: block;
  margin-bottom: auto;
  font-weight: bold;
  text-transform: uppercase;
  width: 80%;
  margin-right: 10%;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-image: -moz-linear-gradient(left, #ec915c 0%, #bb2c3d 100%);
background-image: -webkit-linear-gradient(left, #ec915c 0%, #bb2c3d 100%);
background-image: linear-gradient(to right, #ec915c 0%, #bb2c3d 100%);
transform: scale(1.05);
  	transition: all .3s;
  	z-index: 100;
}


.btn {
  display: inline-block;
  border-radius: 10px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 7.6%;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;}
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn span:after {
content: '\00bb';  /* Entidades CSS. Para usar entidades HTML, use &#8594;*/
position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn:hover span {
  padding-right: 25px;
}
.btn:hover span:after {
  opacity: 1;
  right: 0;
}

@media screen and (max-width: 500px) {
  .btn {
    width: 250px;
    font-size: 20px;
  }
}
@media screen and (max-width: 1130px) {
	#container {
		margin: auto;
	}
}
.round {
  border: 1px solid #03BFCB;
  border-radius: 50%;
  padding: 7px;
}

.card {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: black;
  width: 370px; /* width of each table */
  
  margin-right: 25px; /* spacing between tables */
  margin-bottom: 2em;
  border: 1px solid gray;
  transition: all .5s;
  background-image: linear-gradient(90deg,#55c9d8b9 0%, #27727cb9 100%);
  	background-image: -moz-linear-gradient(top, #55c9d8b9 0%, #27727cb9 100%);
  	background-image: -webkit-linear-gradient(top, #55c9d8b9 0%, #27727cb9 100%);
  	background-image: linear-gradient(to bottom, #55c9d8b9 0%, #27727cb9 100%);

  
  
}

@media screen and (max-width: 1130px) {
	

	.card{
		max-width: 100%;
	}
  
}
.card .banner {
	background-image: url(../../assets/images/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 8rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
}
.card .banner img {
  background-color: #fff;
  width: 11rem;
  height: 11rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
  border-radius: 50%;
  transform: translateY(50%);
  transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.card .menu {
  width: 100%;
  height: 5.5rem;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  box-sizing: border-box;
}
.card .menu .opener {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  border-radius: 50%;
  transition: background-color 100ms ease-in-out;
}
.card .menu .opener:hover {
  background-color: #f2f2f2;
}
.card .menu .opener span {
  background-color: #404040;
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: 0;
  left: calc(50% - 0.2rem);
  border-radius: 50%;
}
.card .menu .opener span:nth-child(1) {
  top: 0.45rem;
}
.card .menu .opener span:nth-child(2) {
  top: 1.05rem;
}
.card .menu .opener span:nth-child(3) {
  top: 1.65rem;
}
.card h2.name {
  text-align: center;
  padding: 0 2rem 0.5rem;
  margin: 0;
}
.card .title {
  color: #a0a0a0;
  font-size: 0.85rem;
  text-align: center;
  padding: 0 2rem 1.2rem;
}
.card .actions {
  padding: 0 2rem 1.2rem;
  display: flex;
  flex-direction: column;
  order: 99;
}
.card .actions .follow-info {
  height: 120px;
  padding: 0 0 1rem;
  display: flex;
}
.card .actions .follow-info h2 {
  text-align: center;
  width: 50%;
 
  box-sizing: border-box;
  font-size: 20px;
  color: #1c9eff;
  font-weight: bold;
}
.card .actions .follow-info h2.title{
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding: 20px 10px;
  color: white;
  
  
}

.form-check-label{
  padding-left: 1px;
}

#ordenanding{
  padding-right: 10px;
}



