<app-navbar-paciente></app-navbar-paciente>
<div id="container" >
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary btn-lg"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Mes Anterior
        </div>
        <div
          class="btn btn-success btn-lg"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Hoy
        </div>
        <div
          class="btn btn-primary btn-lg"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Mes Siguiente
        </div>
      </div>
    </div>
    <div class="col-md-4">
      
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</h3>
    
    </div>

    <div class="col-md-4">

      
      
 
      
    </div>
    
  </div>
  <br />
  <div [ngSwitch]="view" >
    <mwl-calendar-month-view 
      *ngSwitchCase="CalendarView.Month"
      locale="es"
      [weekStartsOn]="1"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="agendarHora($event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
  
  </div>
 

</div>


<ng-template #modalAyuda let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Ayuda</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-template>




