<app-navbar-paciente></app-navbar-paciente>
<div id="container" >
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Mes Anterior
        </div>
        <div
          class="btn btn-success"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Hoy
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Mes Siguiente
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</h3>
    </div>
    
  </div>
  <br />
  <div [ngSwitch]="view" >
    <mwl-calendar-month-view 
      *ngSwitchCase="CalendarView.Month"
      locale="es"
      [weekStartsOn]="1"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="agendarHora($event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
  
  </div>
 

</div>





