<app-navbar-medico></app-navbar-medico>



<div id="container" *ngFor="let especialista of especialista$.data">
  
 
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Open+Sans:300,400,500,700|Waiting+for+the+Sunrise|Shadows+Into+Light' rel='stylesheet' type='text/css'>
  
  <div class="wrapper">
  <div class="left">
    <div class="card">
      <div class="banner">
        <img class="round"src="{{especialista.imagen}}" alt="user" />
      </div>
      <div class="menu">
        <span></span><span></span><span></span>
      </div>

      
      <h2 class="name">{{especialista.nombres}}  <br />{{especialista.apellidos}}</h2>
      <div class="title">Especialista</div>
      <div class="actions">
        <div class="follow-info">
          <h2>Rut:</h2>
          <h2>{{especialista.rut}}</h2>
          
        </div>
        <div class="follow-info">
          <h2>Fono:</h2>
          <h2>{{especialista.contacto}}</h2>
          
        </div>
        <div class="follow-info">
          <h2>Correo:</h2>
          <h2>{{especialista.correo}}</h2>
          
        </div>
        <div class="follow-info">
          <h2>Especialidad:</h2>
          <h2>{{especialista.especialidad}}</h2>
          
        </div>
        <button class="button" [routerLink]="['/editarEspecialista', especialista.rut]">Editar</button> 
        <input #imageInput type="file" (change)="imageInputChange(imageInput)" accept="image/*">
        <button mat-raised-button color="primary" (click)="addImage()">Cambiar foto de perfil</button>

        
      </div>
      </div>
    </div>
      
  
    </div>
   <div class="right">
   
      <div class="inner">
        <h3 class="experience-title">Datos Adicionales</h3>
  
        <p>Formación Académica: {{especialista.formacionacademica}} </p>
        <p>Experiencia Laboral: {{especialista.experiencia}} </p>
        <p>N° citas médicas realizadas: {{especialista.cantcitasrealizadas}} </p>
        <p>Valoración Promedio: {{especialista.valoracionpromedio}}</p>
  
        <h3 class="experience-title">Calificaciones y opiniones</h3>
        
          <div class="recomendacion" *ngIf="recomendaciones$.data.length== '0'">
              <div class="container" >
                  <div class="box">
                      <span>Sin calificaciones y opiniones</span>
                  </div>
              </div>
          </div>
          <div class="recomendacion" *ngFor="let r of recomendaciones$.data;">
            <div class="container">
                <img src="{{r.imagen}}">
                <div class="topright"> <h1>{{r.nombres}} {{r.apellidos}} </h1></div>  <br/>
                
                <div>
                    <ngb-rating [(rate)]="r.valoracion"  [max]="5" [readonly]="true">
    
                        <ng-template let-fill="fill">
                            <span class="star" [class.full]="fill === 100">
                                <span class="half" [style.width.%]="fill">&#9733; </span>&#9733; 
                            </span> 
                        </ng-template>
                    </ngb-rating>
                </div>
                <span>{{r.fecha}}</span> <br/>
                <div class="box">
                    <span>{{r.comentario}}</span>
                </div>
            </div>
            
            
            </div>
          
        
      </div>
      
    </div>
  
  
    
    
    
    
  </div>