<div class="sidebar-container">
    <div class="sidebar-logo">
      AMR
    </div>
    <ul class="sidebar-navigation">
      <li class="header">Menu</li>
      <li>
        <a href="#">
          <i class="fa fa-home" aria-hidden="true"></i> Inicio
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Opcion 2
        </a>
      </li>
      <li class="header">Otro Menu</li>
      <li>
        <a href="#">
          <i class="fa fa-users" aria-hidden="true"></i> Perfil
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-cog" aria-hidden="true"></i> Opcion 3
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Opcion 3
        </a>
      </li>
    </ul>
  </div>
